<!DOCTYPE html>
<html lang="en-EN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{t.rental_house}} Osmany</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A200%2Cnormal%2C300%2C600%2C700%7CPlayfair+Display%3Aregular%2Citalic%2C700%2C900&#038;subset=latin%2Clatin-ext"
        type="text/css" media="all" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/photoswipe.css" />
    <link rel="stylesheet" href="css/default-skin/default-skin.css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/content.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/footer-contact-boxes.css" type="text/css" media="all" />
    <link rel="icon" href="rsc/cropped-icons8_Fairytale_48px_1-32x32.png" sizes="32x32" />

    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
</head>
{{{body}}}

</html>